.filtersWrapper{ 
    
    .filters{ 
    grid-template-columns: 200px 200px 200px;

    }
    .buttonChipWrapper{ 
    }
    .resetButton{ 
     background: none; 
     border: none; 
     cursor: pointer;
     padding: 12px 0 ; 
     color: var(--light-primary);
     font-size: 1rem;
     font-weight: 500;
     text-decoration: underline;
     &:hover{ 
        color: var(--light-primary-hover);
     }
    }
}

.filtersBarDesktop{ 

}