:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-primary: rgb(0, 54, 113);
  --light-surface-tint: rgb(42 94 167);
  --light-on-primary: rgb(255 255 255);
  --light-primary-container: rgb(17 77 150);
  --light-on-primary-container: rgb(159 192 255);
  --light-secondary: rgb(60 86 97);
  --light-on-secondary: rgb(255 255 255);
  --light-secondary-container: rgb(84 110 122);
  --light-on-secondary-container: rgb(212 240 254);
  --light-tertiary: #835500;
  --light-on-tertiary: rgb(255 255 255);
  --light-tertiary-container: rgb(255 183 77);
  --light-on-tertiary-container: rgb(113 73 0);
  --light-error: rgb(186 26 26);
  --light-on-error: rgb(255 255 255);
  --light-error-container: rgb(255 218 214);
  --light-on-error-container: rgb(147 0 10);
  --light-background: rgb(249 249 255);
  --light-on-background: rgb(25 28 32);
  --light-surface: rgb(249 249 255);
  --light-on-surface: rgb(25 28 32);
  --light-surface-variant: rgb(223 226 239);
  --light-on-surface-variant: rgb(66 71 81);
  --light-outline: rgb(115 119 130);
  --light-outline-variant: rgb(195 198 211);
  --light-shadow: rgb(0 0 0);
  --light-scrim: rgb(0 0 0);
  --light-inverse-surface: rgb(46 48 54);
  --light-inverse-on-surface: rgb(240 240 247);
  --light-inverse-primary: rgb(170 199 255);
  --light-primary-fixed: rgb(214 227 255);
  --light-on-primary-fixed: rgb(0 27 62);
  --light-primary-fixed-dim: rgb(170 199 255);
  --light-on-primary-fixed-variant: rgb(0 69 142);
  --light-secondary-fixed: rgb(203 231 245);
  --light-on-secondary-fixed: rgb(2 31 41);
  --light-secondary-fixed-dim: rgb(175 203 216);
  --light-on-secondary-fixed-variant: rgb(48 74 85);
  --light-tertiary-fixed: rgb(255 221 180);
  --light-on-tertiary-fixed: rgb(41 24 0);
  --light-tertiary-fixed-dim: rgb(255 185 84);
  --light-on-tertiary-fixed-variant: rgb(99 63 0);
  --light-surface-dim: rgb(217 217 224);
  --light-surface-bright: rgb(249 249 255);
  --light-surface-container-lowest: rgb(255 255 255);
  --light-surface-container-low: rgb(242, 242, 249);
  --light-surface-container: rgb(237 237 244);
  --light-surface-container-high: rgb(231 232 238);
  --light-surface-container-highest: rgb(226 226 233);

  --dark-primary: rgb(170 199 255);
  --dark-surface-tint: rgb(170 199 255);
  --dark-on-primary: rgb(0 47 100);
  --dark-primary-container: rgb(17 77 150);
  --dark-on-primary-container: rgb(159 192 255);
  --dark-secondary: rgb(175 203 216);
  --dark-on-secondary: rgb(25 52 62);
  --dark-secondary-container: rgb(84 110 122);
  --dark-on-secondary-container: rgb(212 240 254);
  --dark-tertiary: rgb(255 219 175);
  --dark-on-tertiary: rgb(69 43 0);
  --dark-tertiary-container: rgb(255 183 77);
  --dark-on-tertiary-container: rgb(113 73 0);
  --dark-error: rgb(255 180 171);
  --dark-on-error: rgb(105 0 5);
  --dark-error-container: rgb(147 0 10);
  --dark-on-error-container: rgb(255 218 214);
  --dark-background: rgb(17 19 24);
  --dark-on-background: rgb(226 226 233);
  --dark-surface: rgb(17 19 24);
  --dark-on-surface: rgb(226 226 233);
  --dark-surface-variant: rgb(66 71 81);
  --dark-on-surface-variant: rgb(195 198 211);
  --dark-outline: rgb(141 145 156);
  --dark-outline-variant: rgb(66 71 81);
  --dark-shadow: rgb(0 0 0);
  --dark-scrim: rgb(0 0 0);
  --dark-inverse-surface: rgb(226 226 233);
  --dark-inverse-on-surface: rgb(46 48 54);
  --dark-inverse-primary: rgb(42 94 167);
  --dark-primary-fixed: rgb(214 227 255);
  --dark-on-primary-fixed: rgb(0 27 62);
  --dark-primary-fixed-dim: rgb(170 199 255);
  --dark-on-primary-fixed-variant: rgb(0 69 142);
  --dark-secondary-fixed: rgb(203 231 245);
  --dark-on-secondary-fixed: rgb(2 31 41);
  --dark-secondary-fixed-dim: rgb(175 203 216);
  --dark-on-secondary-fixed-variant: rgb(48 74 85);
  --dark-tertiary-fixed: rgb(255 221 180);
  --dark-on-tertiary-fixed: rgb(41 24 0);
  --dark-tertiary-fixed-dim: rgb(255 185 84);
  --dark-on-tertiary-fixed-variant: rgb(99 63 0);
  --dark-surface-dim: rgb(17 19 24);
  --dark-surface-bright: rgb(55 57 62);
  --dark-surface-container-lowest: rgb(12 14 19);
  --dark-surface-container-low: rgb(25 28 32);
  --dark-surface-container: rgb(29 32 37);
  --dark-surface-container-high: rgb(40 42 47);
  --dark-surface-container-highest: rgb(51 53 58);
}
