.section{ 
    padding: 80px 0 80px 0;
    background-color: var(--light-surface-container-lowest);
    .titleFilterWrapper{ 
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        @media(max-width: 900px){ 
            grid-template-columns: 1fr ;
          
        }
    }
    .movingCardsWrapper{ 
        grid-template-columns: 1fr 1fr 1fr;
        @media(max-width : 1050px){ 
            grid-template-columns: 1fr 1fr ;
        }
         @media(max-width : 650px){ 
            grid-template-columns: 1fr  ;
        }
    }
}