.section { 
   
padding: 40px 0 40px 0; 
@media(max-width: 1200px){ 
  padding-top: 80px   ; 
}
.container{ 
 
  .grid{ 
    grid-template-columns: 1fr 1fr;
    align-items: start;
    @media(max-width: 1000px){ 
      grid-template-columns: 1fr; 
    }
    .contentWrapper{ 
   
      @media(max-width: 1000px){ 
        background: none; 
        border: none;
    }

    .guaranteeBadgeWrapper{ 
      background-color: var(--navy); 
      padding: 8px 16px; 
      border-radius: 8px;
      max-width: 440px; 
      .badge{ 
        color: var(--dark-on-surface); 
        line-height: 120%;
      }
      .dot{ 
        width: 8px;
    height: 8px;
    background-color: var(--teal);
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    top: 6px; 
      }
    }
  
    }
    .formWrapper{ 
      overflow: hidden;
      @media(min-width: 1000px){ 
        position: sticky; 
        top: 24px;  
    }
    .titleWrapper{ 
      background: var(--navy); 
      padding: 24px 16px; 
    }
    .formGuaranteeWrapper{ 
      background-color: var(--teal);
      padding: 4px 16px; 
    }
    .form{ 
      padding: 16px 16px; 
    }
    }
  }
} 
}