.section { 
    padding: 40px 0 0 0; 
    @media(max-width: 1300px) { 
        padding: 80px 0 0 0; 
    }
    .container { 
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: start;
        @media(max-width: 800px){ 
            grid-template-columns: 1fr; 
            gap: 16px; 
        }
        .contact-wrapper{ }
        .contactFormWrapper{ 
            padding: 0 24px 24px 24px ; 
        }
    }
}